In [2]:
#1. Create MySQL API
import mysql.connector as connector

In [75]:
#2. Create connection between MySQL and Python
connection = connector.connect(user='root', password = 'Norica0789')

In [72]:
#3.1 Create raw cursor
raw_cursor = connection.cursor(raw = True)

In [65]:
#3.2 Create dict cursor
dict_cursor = connection.cursor(dictionary = True)

In [76]:
#3.3 Create buffered cursor
buffered_cursor = connection.cursor(buffered = True)

In [7]:
#4. Create Little Lemon DB (with Raw Cursor)
try:
    raw_cursor.execute("CREATE DATABASE littlelemon")
except:
    raw_cursor.execute("DROP DATABASE littlelemon")
    raw_cursor.execute("CREATE DATABASE littlelemon")
print("The DB Little Lemon has been created!")

The DB Little Lemon has been created!

In [77]:
#5. Use Little Lemon
buffered_cursor.execute("USE littlelemon")

In [9]:
#6. Check the DB is in progress
connection.database

'littlelemon'

In [10]:
#7. Create table
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [11]:
raw_cursor.execute(create_menuitem_table)
print("MenuItmes table is created.\n")

MenuItmes table is created.

In [12]:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [13]:
raw_cursor.execute(create_menu_table)
print("Menu table is created.\n")

Menu table is created.

In [14]:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [16]:
raw_cursor.execute(create_booking_table)
print("Bookings table is created.\n")

Bookings table is created.

In [17]:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [18]:
raw_cursor.execute(create_orders_table)
print("Orders table is created.\n")

Orders table is created.

In [69]:
print("Following tables are created in the little_lemon database.\n")
dict_cursor.execute("SHOW TABLES") #Result stored at step 1

Following tables are created in the little_lemon database.

In [70]:
#This is the result fetched from step 1 above
#Dict Cursor
result = dict_cursor.fetchall() 
result

[{'Tables_in_littlelemon': 'Bookings'},
 {'Tables_in_littlelemon': 'MenuItems'},
 {'Tables_in_littlelemon': 'Menus'},
 {'Tables_in_littlelemon': 'Orders'}]

In [74]:
#This is the result fetched from step 1 above
#Raw Cursor
raw_cursor.execute("SHOW TABLES") #Step 1
result = raw_cursor.fetchall() 
result

[(bytearray(b'Bookings'),),
 (bytearray(b'MenuItems'),),
 (bytearray(b'Menus'),),
 (bytearray(b'Orders'),)]

In [78]:
#This is the result fetched from step 1 above
#Buffered Cursor
buffered_cursor.execute("SHOW TABLES") #Step 1
result = buffered_cursor.fetchall() 
result

[('Bookings',), ('MenuItems',), ('Menus',), ('Orders',)]

In [ ]:
#8. Examine Query Data 
dict_cursor.execute(